.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.post_group {
    margin-bottom: 4px;
    border:1px solid rgb(200,200,200);
    border-radius: 4px;
}

.post_meta {
	color: grey;	
}
