{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
	{% if user.is_authenticated %}
		<p>What do you want to read?</p>
		<div class="tabbable"> <!-- Only required for left/right tabs -->
		    <ul class="nav nav-tabs">
			    <li class="active"><a href="#tab1" data-toggle="tab"><h1>Newest</h1></a></li>
			    <li><a href="#tab2" data-toggle="tab"><h1>Hottest</h1></a></li>
			    <li><a href="#tab3" data-toggle="tab"><h1>Recommended</h1></a></li>
			    <li><a href="#tab4" data-toggle="tab"><h1>Clustered</h1></a></li>
		    </ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
				    {% if posts %}
						<div class="posts">
						    <h3>Die 100 neusten Nachrichten:</h3>
						    {% for post_item in posts %}
						    <div class="post_group">
								<div class="post_heading" >
									[{{ post_item.feed_name }}] 
									<a class="post_toggle" data-toggle="collapse" href="#{{post_item.hash}}">{{ post_item.title }} {{ post_item.seqno }}</a>
								</div>
								<div id="{{post_item.hash}}" class="post_body collapse">
									<div class="post_meta">
										[{{post_item.date}}]
										<a class="btn btn-mini btn-success" href="{% url stats post_seqno=post_item.seqno link=post_item.link %}" onclick="window.open({{post_item.link}});"><i class="icon-share-alt"></i> Show origin</a>
									</div>
									{% autoescape off %}{{post_item.description}}{% endautoescape %}
								</div>
							</div>
						    {% endfor %}
						    {% if page > '0' %}
						    	<a class="btn btn-success" href="{% url home_no page|add:"-1" %}"><i ></i>PREV</a>
						    {% endif%}
						    <a class="btn btn-success" href="{% url home_no page|add:"1" %}"><i ></i>NEXT</a>
						    
						</div>
					{% else %}
					    <p>No news available.</p>
					{% endif %}
				</div>
				<div class="tab-pane" id="tab2">
					<h3>Die 100 wichtigsten Nachrichten:</h3>
				    <p>Hot news.</p>
				</div>
				<div class="tab-pane" id="tab3">
				    {% if sim_posts %}
						<div class="posts">
							<h3>Nachrichten die dich interessieren könnten:</h3>
						    {% for post_item in sim_posts %}
						    <div class="post_group">
								<div class="post_heading" >
									[{{ post_item.feed_name }}] 
									<a class="post_toggle" data-toggle="collapse" href="#{{post_item.hash}}">{{ post_item.title }} {{ post_item.seqno }}</a>
								</div>
								<div id="{{post_item.hash}}" class="post_body collapse">
									<div class="post_meta">
										[{{post_item.date}}]
										<a class="btn btn-mini btn-success" href="{% url stats post_seqno=post_item.seqno link=post_item.link %}" onclick="window.open({{post_item.link}});"><i class="icon-share-alt"></i> Show origin</a>
									</div>
									{% autoescape off %}{{post_item.description}}{% endautoescape %}
								</div>
							</div>
						    {% endfor %}
						</div>
					{% else %}
					    <p>No recommendations available.</p>
					{% endif %}
				</div>
				<div class="tab-pane" id="tab4">
					<h3>Nachrichten sortiert nach Thema:</h3>
				    <p>News you missed.</p>
				</div>
			</div>
	    </div>
	{% else %}
        <div class="hero-unit well">
		   <h1>{% trans "Welcome to Feedaro" %}</h1>
		   <p>
		       {% blocktrans %}
		       <b>Feedaro</b> is the intelligent news site to rule them all. Just log in to read the news you really want, no more and no less. 
		       Register to the site and try it out NOW!  
		       {% endblocktrans %}
		   </p>
		   
		   <h3>Top features:</h3>
		   <b>
		   <p>
		       {% blocktrans %}
		       <ul>
		       	<li> bam</li>
		       	<li> bam</li>
		       	<li> bam</li>
		       </ul>
		       {% endblocktrans %}
		   </p>
		   </b>
		   <p><a href="{% url account_signup %}" class="btn btn-primary btn-large">{% trans "Sign up! &raquo;" %}</a></p>
	     </div>
	     <div class="row">
	         <div class="span4">
	         {% block column-1 %}
	             <h2>Heading</h2>
	             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed viverra dui. Aenean blandit faucibus tincidunt. Phasellus fermentum elit ut erat varius cursus. Nunc posuere mauris sit amet enim congue quis elementum lectus tincidunt. Cras vel tempus metus.</p>
	             <p><a class="btn" href="#">View details &raquo;</a></p>
	         {% endblock %}
	         </div>
	         <div class="span4">
	         {% block column-2 %}
	             <h2>Heading</h2>
	             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed viverra dui. Aenean blandit faucibus tincidunt. Phasellus fermentum elit ut erat varius cursus. Nunc posuere mauris sit amet enim congue quis elementum lectus tincidunt. Cras vel tempus metus.</p>
	             <p><a class="btn" href="#">View details &raquo;</a></p>
	         {% endblock %}
	         </div>
	         <div class="span4">
	         {% block column-3 %}
	             <h2>Heading</h2>
	             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed viverra dui. Aenean blandit faucibus tincidunt. Phasellus fermentum elit ut erat varius cursus. Nunc posuere mauris sit amet enim congue quis elementum lectus tincidunt. Cras vel tempus metus.</p>
	             <p><a class="btn" href="#">View details &raquo;</a></p>
	         {% endblock %}
	         </div>
	     </div>
	{% endif %}
{% endblock %}
