{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
<div class="hero-unit well">
   <h1>{% trans "Welcome to Feedaro" %}</h1>
   <p>
       {% blocktrans %}
       <b>Feedaro</b> is the intelligent news site to rule them all. Just log in to read the news you really want, no more and no less. 
       Register to the site and try it out NOW!  
       {% endblocktrans %}
   </p>
   
   <h3>Top features:</h3>
   <b>
   <p>
       {% blocktrans %}
       <ul>
       	<li> bam</li>
       	<li> bam</li>
       	<li> bam</li>
       </ul>
       {% endblocktrans %}
   </p>
   </b>
   <p><a href="{% url account_signup %}" class="btn btn-primary btn-large">{% trans "Sign up! &raquo;" %}</a></p>
     </div>
     <div class="row">
         <div class="span4">
         {% block column-1 %}
             <h2>Heading</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed viverra dui. Aenean blandit faucibus tincidunt. Phasellus fermentum elit ut erat varius cursus. Nunc posuere mauris sit amet enim congue quis elementum lectus tincidunt. Cras vel tempus metus.</p>
             <p><a class="btn" href="#">View details &raquo;</a></p>
         {% endblock %}
         </div>
         <div class="span4">
         {% block column-2 %}
             <h2>Heading</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed viverra dui. Aenean blandit faucibus tincidunt. Phasellus fermentum elit ut erat varius cursus. Nunc posuere mauris sit amet enim congue quis elementum lectus tincidunt. Cras vel tempus metus.</p>
             <p><a class="btn" href="#">View details &raquo;</a></p>
         {% endblock %}
         </div>
         <div class="span4">
         {% block column-3 %}
             <h2>Heading</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed viverra dui. Aenean blandit faucibus tincidunt. Phasellus fermentum elit ut erat varius cursus. Nunc posuere mauris sit amet enim congue quis elementum lectus tincidunt. Cras vel tempus metus.</p>
             <p><a class="btn" href="#">View details &raquo;</a></p>
         {% endblock %}
         </div>
     </div>
     
{% endblock %}